{% extends "blog/base.html" %}

{% block title %}Simple Blog | PostCreate{% endblock %}

{% block content %}
<h1>Create Post</h1>
<form action="{% url 'create-post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="titleInput" class="form-label">Title</label>
        {{ form.title }}
    </div>
    <div class="mb-3">
        <label for="contetntTextarea" class="form-label">Content</label>
        {{ form.content }}
    </div>
    <button type="submit" class="btn btn-primary crbtn">Create</button>
</form>
{% endblock %}